#AuthUserFile /etc/apache2/.htpasswd
#AuthGroupFile /dev/null/
#AuthName Server
#AuthType Basic
#require user trailrunner 

RewriteEngine On
RewriteCond $1 !^(index\.php|images|assets|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
